/* I seperate my html code into sections, and the code below is used to 
style the first section. I use the first section as a header for my site*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family: 'Playfair Display', serif;
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0;
    background-color: aliceblue;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1C1D21;
    color: #f1e3e4;
}

section {
    padding: 0; 
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1C1D21;
}

/* handle styling for nav bar and its elements */

nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding-inline: 10vw;
    padding-top: 5vh;
}

nav ul li {
    display: inline; 
    float: left;
}

.links {
    color: #BB9BB0;
    background-color: #69487333;
}

svg {
    animation-name: bobble; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin: 0;
    padding:0;
    z-index: 1;
    margin-top: 90vh;
}

/* This is for the animation called bobble that moves my svg up and down */
@keyframes bobble {
    33% {margin-top: 90vh}
    66% {margin-top: 80vh}    
    100% {margin-top: 90vh}

}

/* This makes my video take 100% of the space inside the first section */
.headerVideo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header-video-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-text-big {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30vw;
    line-height: 100vh;
    color: #f1e3e4;
    left: 50px;
    user-select: none;
}

/* prevents big heading text from becoming too large on large resolution screens */

@media screen and (min-width: 800px) {
    .heading-text-big {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 500px;
        line-height: 100vh;
        color: #f1e3e4;
        left: 50px;
        user-select: none;
    }
  }

.heading-text-small {
    position: absolute;
    height: 600px;
    font-size: 5vh;
    color: #f1e3e4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    user-select: none;
}

.flex-center {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* This is styling for the second section of the page */

.second-section {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.section-header {
    margin: 50px;
    padding: 0;
    display: flex; 
    flex-direction: column;
    justify-content: end; 
    align-items: end;
    font-size: 75px;
    border-bottom-style: solid;
    border-width: 2px;
}

.section-text {
    margin: 0; 
    margin-bottom: 100px; 
    padding: 0;
    width: 800px;
    font-size: 50px;
    text-align: center;
}

tr {
    text-align: center;
}

td {
    padding: 0px;
    width: 400px;
    margin: 0;
}

tbody {
    width: auto;
}

/* either shrinks or hides images and table items depending on size of screen */

@media screen and (max-width: 1500px) {
    .table-img {
        width: 300px;
        height: 220px;
        margin-block: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .table-img {
        width: 300px;
        height: 220px;
        margin-block: 20px;
    }

    tr {
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
}


.table-intro {
    padding: 0;
    font-size: 75px;
    margin-bottom: 100px;
    border-bottom-style: solid;
    border-width: 2px;
}

table {
    margin-bottom: 100px;
}

th {
    margin: 20px;
    text-align: start;
    font-size: 50px;
}

footer {
    padding: 100px;
    border-top-style: solid;
    border-width: 1px;
}